/* Header.module.css */
.header {
  background: #fafaff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px rgb(180, 180, 180);
}

.headerContainer {
  display: flex;
  justify-content: flex-end; /* 要素間の余白を均等にする */
  align-items: center;
  padding: 0 20px; /* 左右に余白を追加 */
}

.languageContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.languageContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hamburgerContainer {
  display: inline-flex; /* アイコン全体をインラインのフレックスボックスに */
  align-items: center; /* 中央揃え */
  cursor: pointer;
  position: relative;
}

.hamburgerContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.language {
  height: 32px;
}

.hamburger {
  height: 32px;
}

.menu {
  list-style: none;
  padding: 0;
  background-color: #e9e9ee;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 0; /* 初期状態では高さをゼロに */
  overflow: hidden; /* コンテンツが隠れるように */
  transition: max-height 0.3s ease; /* スムーズに開閉する */
}

.menuOpen {
  max-height: 300px; /* 開いた時に高さが自動調整される */
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu li:last-child {
  border-bottom: none;
}
